body {
   margin: 0;
   font-family: "Smythe", serif;
   font-size: 20px;
   font-weight: 400;
}

main {
   position: relative;
   max-width: 600px;
   margin: 0 auto;
   background-color: rgb(249, 249, 249);
}

header {
   color: white;
   background-image: url(/header-bg.jpg);
   background-size: cover;
   padding: 46px;
}

h1 {
   font-size: 39px;
   margin: 0 0 16px;
}

h2 {
   font-size: 28px;
   margin: 0;
}

h3 {
   font-size: 24px;
}

header p {
   font-size: 22px;
   margin: 0;
}

section {
   padding: 3rem;
}

button {
   margin-top: 2.5rem;
   color: white;
   font-weight: 700;
   width: 100%;
   padding: 18px;
   border: none;
   background-color: #16db99;
}

.menu-item {
   display: flex;
   justify-content: space-between;
   padding: 3rem 0;
   border-bottom: 1px solid #d2d2d2;
}

.item-detail {
   display: flex;
   gap: 1.5rem;
}

.item-icon {
   font-size: 5rem;
}

.menu-item svg {
   align-self: stretch;
}

.grey-text {
   font-size: 16px;
   color: #8b8b8b;
}

.order {
   text-align: center;
}

.order-item {
   display: flex;
   justify-content: space-between;
}

.order-detail {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.break-line {
   height: 2px;
   background-color: #393333;
   margin: 1rem 0;
}

.modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.165);
}

.modal-inner {
   max-width: 450px;
   margin: 10rem auto 0;
   box-sizing: border-box;
   padding: 46px 24px;
   background-color: white;
}

.modal input {
   width: 100%;
   margin-bottom: 1rem;
   padding: 1rem;
}

.pay-btn {
   color: white;
   font-weight: 700;
   border: none;
   background-color: #16db99;
}

.order-complete {
   display: none;
   padding: 2rem;
   text-align: center;
}

.order-complete-text {
   padding: 2rem;
   display: inline;
   background-color: #ecfdf5;
}
